Navbar.css
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    padding: 1px 20px;
    font-size: 2em;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}


  
  .navbar-links a:hover {
    opacity: 0.8;
  }
  
  .navbar-links a[href="/login"] {
    background-color: #28a745; /* Green */
  }
  
  .navbar-links a[href="/register"] {
    background-color: #007bff; /* Blue */
  }
  